<!-- Navigation -->
<ul class="flex items-center space-x-8 h-full">
    <li>
        <img src="~/images/logo.png" alt="logo" class="size-10 w-auto" />
    </li>
    <li><a href="#">Key Signup</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Data Resources</a></li>
</ul>

