<div class="mx-12 h-16 flex items-center">
    <!-- Logo -->
    <div class="flex-1">
        <img src="~/images/logo.png" alt="logo" class="size-10 w-auto" />
    </div>
    <!-- Navigation -->
    <div class="flex-1 font-[Arial]">
        <ul class="flex justify-between items-center h-full text-xl">
            <li><a href="#">Key Signup</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Data Resources</a></li>
        </ul>
    </div>
</div>
<hr class="h-[2px] border-0 bg-[#BBBABA]">