<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EnergyUtilityApp</title>
    <script type="importmap"></script>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EnergyUtilityApp.styles.css" asp-append-version="true" />
    <link href="~/css/output.css" rel="stylesheet" />
</head>

<body class="bg-[#EAE8E8]">
    <header>
        <partial name="_HeaderPartial" />
    </header>
    <div class="container">
        <main role="main" class="pb-3 w-full">
            @RenderBody()
        </main>
    </div>
    <footer class="border-t border-[#BBBABA] footer h-[10px]">
        <div class="text-center">
            &copy; 2026 - EnergyUtilityApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
