@using Microsoft.AspNetCore.Identity
@using EnergyUtilityApp.Pages
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul>
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                My Account</a>
            </li>
            <li>
                <form asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" asp-area="Identity"
                      method="post">
                    <button type="submit">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li>
                <a asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li>
                <a asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>