@model ApiParameterTableRow
<table class="mt-2">
    <thead>
        <tr class="text-left">
            <th class="px-4">Option</th>
            <th class="px-4">Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var param in Model.Description)
        {
            <tr>
                <td class="px-4 text-center">@param.Option</td>
                <td class="px-4">@param.Description</td>
                <td class="px-4"><input type="radio" name="@Model.Parameter" /></td>
            </tr>
        }
    </tbody>
</table>