@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="space-y-8">
    <div class="text-xl space-y-8 w-1/2 mx-auto mt-16">
        <h1 class="text-5xl pb-4 font-medium font-[Arial] border-b">@ViewData["Title"]</h1>
        <h2>
            Create a new account to access and manage your Energy Utility API key. If you already have an account login
            here.
        </h2>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="space-y-12">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="grid grid-cols-[1fr_2fr] grid-rows-3 gap-y-10 gap-x-6">
                <label asp-for="Input.Email">Email</label>
                <div>
                    <input asp-for="Input.Email"
                           class="form-control border border-2 border-[#BBBABA] rounded-lg w-full py-1 px-2"
                           autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-red-400"></span>
                </div>
                <label asp-for="Input.Password">Password</label>
                <div>
                    <input asp-for="Input.Password"
                           class="form-control border border-2 border-[#BBBABA] rounded-lg w-full py-1 px-2"
                           autocomplete="new-password" aria-required="true" placeholder="password" />
                    <span asp-validation-for="Input.Password" class="text-red-400"></span>
                </div>
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <div>
                    <input asp-for="Input.ConfirmPassword"
                           class="form-control border border-2 border-[#BBBABA] rounded-lg w-full py-1 px-2"
                           autocomplete="new-password" aria-required="true" placeholder="password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-red-400"></span>
                </div>
            </div>
            <button id="registerSubmit" type="submit"
                    class="rounded-lg w-1/2 bg-[#2496FA] text-white text-2xl py-2 font-light">
                Register
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
