@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="mx-12 mt-4 w-full space-y-8">
    <div class="space-y-4">
        <h1 class="text-[48px]">Energy Utility API</h1>
        <p class="text-xl">
            Use the Energy Utility API to calculate household energy expenditures by postcode. This API has two
            endpoints -
            one for fetching postcode level electricity meter data for over 1 million UK postcodes, and the second
            calculates the yearly consumption and cost of electricity based on postcode and household features passed as
            query string parameters.
        </p>
    </div>
    <div class="flex space-x-16 text-lg">
        <div class="space-y-4 flex-2">
            <div class="space-y-2">
                <h2>Examples:</h2>
                <input type="text" class="border border-2 border-[#BBBABA] rounded-lg w-full py-1 px-2"
                       disabled></input>
                <div class="bg-[#D9D9D9] h-[400px]">
                    <!-- vscode-format:off -->
                    <pre>
                        {
                        Postcode: 
                        MeanCons:
                        MedianCons:
                        }
                    </pre>
                    <!-- vscode-format:on -->
                </div>
            </div>
        </div>
        <div class="flex-3 space-y-4">
            <div class="flex justify-center">
                <label class="text-lg">Search:
                    <input type="text" class="border border-2 border-[#BBBABA] rounded-lg py-1 px-2 w-[400px]"></input>
                </label>
            </div>
            <div class="overflow-auto h-[400px]">
                <table class="w-full text-lg">
                    <thead class="bg-[#D9D9D9]">
                        <tr class="text-left m-4">
                            <th class="p-4">Parameter</th>
                            <th class="p-4">Required</th>
                            <th class="p-4">Value </th>
                            <th class="p-4">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b-2 border-[#D9D9D9]">
                            <td class="p-4">Postcode</td>
                            <td class="p-4">Yes</td>
                            <td class="p-4">
                                <ol>
                                    <li><strong>Type:</strong> string</li>
                                    <li><strong>Example:</strong>AB10AG</li>
                                </ol>
                            </td>
                            <td class="p-4">
                                The postcode you want the data for. Do not include spaces.
                            </td>
                        </tr>
                        <tr class="border-b-2 border-[#D9D9D9]">
                            <td class="p-4">PropertyType</td>
                            <td class="p-4">No</td>
                            <td class="p-4">
                                <ol>
                                    <li><strong>Type:</strong> Integer</li>
                                    <li><strong>Default:</strong> none</li>
                                    <li><strong>Options:</strong> 1,2,3,4,5,6,7</li>
                                </ol>
                            </td>
                            <td class="p-4">
                                <partial name="_SubtablePartial" model="@Model.ApiParameters.PropteryType" />
                            </td>
                        </tr>
                        <tr class="border-b-2 border-[#D9D9D9]">
                            <td class="p-4">PropertyAge</td>
                            <td class="p-4">No</td>
                            <td class="p-4">
                                <ol>
                                    <li><strong>Type:</strong> Integer</li>
                                    <li><strong>Default:</strong> none</li>
                                    <li><strong>Options:</strong> 1,2,3,4</li>
                                </ol>
                            </td>
                            <td>
                                <partial name="_SubtablePartial" model="@Model.ApiParameters.PropteryAge" />
                            </td>
                        </tr>
                        <tr class="border-b-2 border-[#D9D9D9]">
                            <td class="p-4">FloorArea</td>
                            <td class="p-4">No</td>
                            <td class="p-4">
                                <ol>
                                    <li><strong>Type:</strong> Integer</li>
                                    <li><strong>Default:</strong> none</li>
                                    <li><strong>Options:</strong> 1,2,3,4,5</li>
                                </ol>
                            </td>
                            <td>
                                <partial name="_SubtablePartial" model="@Model.ApiParameters.FloorArea" />
                            </td>
                        </tr>
                        <tr>
                            <td class="p-4">HouseholdSize</td>
                            <td class="p-4">No</td>
                            <td class="p-4">
                                <ol>
                                    <li><strong>Type:</strong> Integer</li>
                                    <li><strong>Default:</strong> none</li>
                                    <li><strong>Options:</strong> 1,2,3</li>
                                </ol>
                            </td>
                            <td>
                                <partial name="_SubtablePartial" model="@Model.ApiParameters.HouseholdSize" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
