@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="mx-12 mt-6 space-y-8">
    <p>
        Use the Energy Utility API to calculate household energy expenditures by postcode. This API has two endpoints -
        one for fetching postcode level electricity meter data for over 1 million UK postcodes, and the second
        calculates the yearly consumption and cost of electricity based on postcode and household features passed as
        query string parameters.
    </p>
    <div class="space-y-4">
        <div>
            <h2>Request URL:</h2>
            <div class="bg-[#D9D9D9] w-[400px] h-[100px]">
            </div>
        </div>
        <div>
            <h2>Examples:</h2>
            <div class="bg-[#D9D9D9] w-[400px] h-[100px]">
            </div>
        </div>
    </div>
</div>
